= simple_form_for(@request, wrapper: :horizontal_form , html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  = f.input :date
  = f.input :name 
  = f.input :department
  = f.input :controller
  = f.input :division
  = f.input :block
  = f.button :submit, :class => 'btn-primary'
